<div class="row justify-content-center mt-5">
  <div class="col-12 col-lg-6">
    <h1>Welcome!</h1>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <h2>My name is Nataliia Sukhinina.</h2>
    <p>I am a Frontend Developer with 7 years of experience in Angular.</p>
    <p>I have a strong understanding of the Angular framework. I am proficient in a variety of Angular features, including pipes, validators, interceptors, and routing. I am also experienced in working with a variety of Angular libraries and tools such as Angular Material and AG Grid.</p>
    <p>In my previous roles I was responsible for the development and maintenance of a variety of Angular applications. I have experience developing applications from scratch and working with a team to improve existing applications.</p>
    <p>I am a curious and self-motivated learner who is able to learn new skills quickly and effectively. Right now my areas of interest are AWS and AI Bots.</p>
    <p class="lead"> In fact, this cover letter was written with the help of one of the AI chats.</p>
    <p>With my web application, you can <b>generate your own cover letter</b> for a specific company and position you are applying for. Click on Create Cover Letter at the top and try it out!</p>
  </div>
</div>
